
.academica__cursos{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
	padding: 1rem;

}


@media screen and (max-width: 768px){
	
    .academica__cursos{
		flex-wrap: wrap;
		margin: 1rem;
    }