
.experience__boton--demo{
	background: #8F41F3;
    width: 170px;
    height: 50px;
    border: 2px solid #a679dd;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

@media screen and (max-width: 768px){
    .experience__boton--demo{
        border-radius: 15px;
        font-size: 15px;
        width: 140px;
        height: 40px;
    }
    .experience__boton--demo:hover{
        color: black;
        background-color: aquamarine;
        transform: .2s;

    }

}

@media screen and (max-width: 500px){
    .experience__boton--demo{
     border-radius: 10px;
    font-size: 12px;
    width: 100px;
    height: 25px;

    }
}
